* {
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
   

    
    

}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 102vh;
   border: auto;
   font-family: 'Press Start 2P', cursive;
   margin: 0;
    text-shadow: -3px -3px 0px whitesmoke, 3px 3px 0px gray;
    background-image: url('https://i.pinimg.com/736x/71/26/fa/7126fa0e09b2c79bde4f7713f031f769.jpg');
    
    

   

    
}
.container1 {
    padding: 30px;
    text-shadow: 4px 4px 0px gray, whitesmoke 4px 4px 0px; 
    width: max-content;
    animation: game-blink 1.5s infinite linear;
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*FNdv4U-fEO6G0ldi2IQUYg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;



}
ul {
    list-style-type: none;
    padding: 0;;
    border: solid whitesmoke 5px;
}
ul li a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 0;
    position: relative;
    text-shadow: 5px 5px 0px gray, whitesmoke 5px 5px 0px;
    
    

    


}
ul li a::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);   
     --slice-5: inset(80% -6px 5% 0);    
       content: attr(data-text);    
         display: block;    
           position: absolute;    
             top: 0;  
             top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: -3px -3px 0px whitesmoke, 3px 3px 0px gray;
    clip-path: var(--slice-0);
}
ul li a:hover::after {
    animation: 1.5s glitch;
    animation-timing-function: steps(2, end);
}
@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-120px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(50px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}
ul li {
    list-style-type: none;
}
ul li:hover a {
    border: solid whitesmoke 5px;
    background: transparent;
    color: rgb(23, 23, 23);
}
.container1 h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 30px;
    color: whitesmoke;
    font-size: 6rem;
}
.glowing_logo {
    animation: blink-logo 1s infinite linear;
}
@keyframes blink-logo {
    0% {
       color: whitesmoke; 
    }
    60% {
        color: rgb(23,23,23);
    }
    100% {
        color: whitesmoke;
    }
}
@keyframes game-blink {
    0% {
        border: solid rgb(26, 26, 26) 10px;
    }
    60% {
        border: solid white 10px;
    }
    100% {
        border: solid rgb(23, 23, 23) 10px;
    }
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    border: 1px solid;
}

#loader {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#loader > span {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}