* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background: rgb(22, 22, 22);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   border: solid 2px white;
   font-family: 'Press Start 2P', cursive;
   margin: 0;
   background: black;
}
.container1 {
    padding: 30px;
    width: max-content;
    animation: game-blink 1.5s infinite linear;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 0;
    position: relative;
}
ul li a::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, whitesmoke 3%, whitesmoke 5%, gray 5%);
    text-shadow: -3px -3px 0px whitesmoke, 3px 3px 0px gray;
    clip-path: var(--slice-0);
}
ul li a:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}
@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}
ul li {
    list-style-type: none;
}
ul li:hover a {
    border: solid whitesmoke 5px;
    background: whitesmoke;
    color: rgb(23, 23, 23);
}
.container1 h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 30px;
    color: whitesmoke;
    font-size: 6rem;
}
.glowing_logo {
    animation: blink-logo 1s infinite linear;
}
@keyframes blink-logo {
    0% {
       color: whitesmoke; 
    }
    60% {
        color: rgb(23,23,23);
    }
    100% {
        color: whitesmoke;
    }
}
@keyframes game-blink {
    0% {
        border: solid rgb(26, 26, 26) 10px;
    }
    60% {
        border: solid white 10px;
    }
    100% {
        border: solid rgb(23, 23, 23) 10px;
    }
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    border: 1px solid;
}

#loader {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#loader > span {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

#loader > h1 {
    font-family: sans-serif;
    font-weight: bold;
}

#button2 {
    left: 100px;
    bottom: 30px;
}

#button3 {
    right: 100px;
    bottom: 30px;
    visibility: hidden;
}

#button4 {
    right: 10px;
    bottom: 30px;
}

#menu {
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}

#menuButton {
    border: 2px solid #ff9d00;
    border-radius: 5px;
    display: inline-block;
    padding: 1em 2em;
    background-color: #000;
    color: #ff9d00;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    transition: color .2s linear, background-color .2s linear;
}

#menuButton:focus,
#menuButton:hover {
    background-color: #ff9d00;
    color: #000;
    transition-duration: .07s;
}

#menuOptions {
    display: none;
}

#menuOptions button {
    border: 2px solid #ff9d00;
    border-radius: 5px;
    display: inline-block;
    padding: 1em 2em;
    background-color: #000;
    color: #ff9d00;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    transition: color .2s linear, background-color .2s linear;
    margin-top: 10px;
}

#menuOptions button:focus,
#menuOptions button:hover {
    background-color: #ff9d00;
    color: #000;
    transition-duration: .07s;
}

button,
button::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "HOVER ME";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}


